    .performance-facts {
        border: 1px solid black;
        margin: 20px;
        /*float: left;*/
        width: 90%;
        padding: 0.5rem;
    }

    .performance-facts__title {
        font-weight: bold;
        font-size: 2rem;
        margin: 0 0 0.25rem 0;
    }

    .performance-facts__header {
        border-bottom: 0px solid black;
        padding: 0 0 0.25rem 0;
        margin: 0 0 0.5rem 0;
        float: left;
        text-align: left;
    }

    .performance-facts__table {
        width: 100%;
        thead tr;
    }

    .blank-cell {
        width: 1rem;
        border-top: 0;
        border-bottom: 1px solid #999;
    }


    .small-info {
        font-size: 0.7rem;
        border-bottom: 1px solid #999;
    }


    .thick-end {
        border-bottom: 10px solid black;
    }

    .thin-end {
        border-bottom: 1px solid black;
    }