
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cleandex!</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/nutrition.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/5g.css")" rel="stylesheet" type="text/css" />*@
</head>
<body>
    <div class="checkered-border"></div><br /><br />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="container"> 
        <div class="row">
            <!--top row-->
            <div class="col-md-2">
                <img src="@Url.Content("~/Content/images/logo.jpg")" alt="Five Guys Logo" />
            </div>

            <style>
                h1 {
                    color: #c82026;
                    font-family: "Helvetica Black","Arial Black","Helvetica", "Arial",sans-serif;
                }
            </style>

            <div class="col-md-10">
                <h1>Five Guys <br />Nutrition Calculator</h1>
            </div>
        </div><!--top row-->

        <div class="container">
            <!--Nutrition and Menu-->
            <div class="row">
                <div class="col-md-6">
                    <!--nutrition label-->
                    <hr />
                    <section class="performance-facts">
                        <header class="performance-facts__header">
                            <h1 class="performance-facts__title">Nutrition Facts</h1>
                            <p>
                                Serving Size: Your Selection
                            </p>

                        </header>
                        <table class="performance-facts__table">
                            <tbody>
                                <tr>
                                    <th style="text-align: left;" colspan="2">
                                        Calories: <b>0g</b>
                                    </th>
                                </tr>

                                <tr>
                                    <th style="text-align: left;" colspan="2">
                                        Fat: <b>0g</b>
                                    </th>
                                </tr>

                                <tr>
                                    <th style="text-align: left;" colspan="2">
                                        Sodium: <b>0g</b>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align: left;" colspan="2">
                                        Total Carbs: <b>0g</b>
                                    </th>
                                </tr>

                                <tr>
                                    <th style="text-align: left;" colspan="2">
                                        Fiber: <b>0g</b>
                                    </th>
                                </tr>

                                <tr>
                                    <th style="text-align: left;" colspan="2">
                                        Protein: <b>0g</b>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div><!--nutrition label-->

                <div class="col-md-6">
                    <!--menu options-->
                    <hr />
                    <div class="container-f">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--menu options-->
            </div>
        </div><!--Nutrition and Menu-->
    </div>
</body>
</html>
