
@{
    ViewBag.Title = "NutritionInfo";
}

<h2>NutritionInfo</h2>
        <div class="nutrition-label">
            <h2>Nutrition Facts</h2>
            <p>Serving Size <span class="nutrition-serving-size-data">303g</span></p>
            <table>
                <thead>
                    <tr>
                        <td colspan="2"><strong>Amount Per Serving</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Calories</strong>&nbsp;<span class="nutrition-calories-data">840</span></td>
                        <td class="text-right">
                            Calories from Fat
                            <span class="nutrition-calories-fat-data">500</span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Total Fat</strong></td>
                        <td class="text-right nutrition-total-fat-data">55g</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;Saturated Fat</td>
                        <td class="text-right nutrition-saturated-fat-data">26.5g</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;Trans Fat</td>
                        <td class="text-right nutrition-trans-fat-data">2g</td>
                    </tr>
                    <tr>
                        <td><strong>Cholesterol</strong></td>
                        <td class="text-right nutrition-cholesterol-data">165g</td>
                    </tr>
                    <tr>
                        <td><strong>Sodium</strong></td>
                        <td class="text-right nutrition-sodium-data">1050mg</td>
                    </tr>
                    <tr>
                        <td><strong>Total Carbohydrate</strong></td>
                        <td class="text-right nutrition-carbs-data">40g</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;Dietary Fiber</td>
                        <td class="text-right nutrition-fiber-data">2g</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;Sugars</td>
                        <td class="text-right nutrition-sugars-data">9g</td>
                    </tr>
                    <tr>
                        <td><strong>Protein</strong></td>
                        <td class="text-right nutrition-protein-data">47g</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

